@use "../minima";

.current-page {
  color: red;
}

li {
    list-style-type: none;
}

.site-nav {
  .nav-item {
    color: blue;
  }
}

.site-nav a {
  color: blue;
}

.result li.active a {
    color: coral;
    cursor: default;
}

.site-header .wrapper .site-nav .nav-items li a {
    color: purple;
    cursor: default;
}

.site-header {
    .wrapper {
        .site-nav {
            .nav-items li a {
                background-color: aqua;
                color: green;
            }
        }
    }
}