@use "links";

// This works
a:link { 
  color: links.$a-link-color; // purple
}

a:visited { 
  color: links.$a-link-visited; 
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

// This works
.color-test {
  color: coral;
}

.current-page {
  color: red;
}

.site-nav .nav-items > a:link {
  color: fuchsia;
}

.site-header {
  // background-color: grey; /* Change the background color */
}

.site-nav a.page-link {
  color: links.$a-link-color; /* Change the navigation link color */
}

.site-nav a.page-link:active {
  color: red; /* Change the navigation link color */
}

.site-nav .nav-item a.page-link:active {
  color: purple;
}
