/*
#sidebar{
  position: relative;
}

#banner{
  position: sticky;
  top: 10px;
}

@media (min-width: 550px) {

    #sidebar {
        position: fixed;
        max-width: 18%;
    }
}
*/

/* Style Profile Section */
img {
  height: 200px;
  border-radius: 20%;
}

.is-rounded {
  object-fit: cover;
}

.social-media {
  height: 2em;
  width: 2em;
}

/* Style Navigation */
.navbar {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  height: 4em;
  background: white;
}

.nav-title {
  float: left;
  padding: 10px;
}

.navigation {
  float: right;
  padding: 10px;
}

/* Style Main */
.topbuff {
  margin-top: 4em;
  padding-top: 2em;
  position: relative;
  overflow: scroll;
}

/* Style More Profile Sidebar */
.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10%;
}

img.dotty-img-stack {
  height: 2em;
}

/* Style Stack Skills Section */
.filterDiv {
  float: left;
  text-align: center;
  margin: 3px;
  padding: 3px;
  border: dotted;
  border-radius: 4px;
  display: none;
}

.showr {
  display: block;
}

.stack-container {
  margin-top: 20px;
  overflow: hidden;
}

.btn {
  border: none;
  outline: none;
  background-color: #f1f1f1;
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
}

.btn:hover {
  background-color: #ddd;
}

.btn.activebtn {
  background-color: #666;
  color: white;
}

/* Style Sections */
.section {
  margin-top: 2em;
}

.project-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Style Project Section Tech-Subsection */
.project-tech {
  display: inline-block;
}

.project-tech-title {
  float: left;
  padding-right: 1em;
}

ul.project-tech-list {
  list-style: none;
  display: inline;
}

li.project-tech-item {
  float: left;
  text-align: center;
  margin: 3px;
  padding: 3px;
  border: dotted;
  border-radius: 4px;
}

/* Style for Random Text */
#randomHelloWorld, #randomTitle {
  color: coral;
}

#cursor {
  animation: blink 1s infinite; 
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}