---

---

@use "minima" with (
  $text-color: white,
  $background-color: black,
);

@use "main";
// More components are usually imported here.

@import "{{ site.theme }}";
@import "minima";
@import "main";

a:visited { 
  color: green; 
}